.contenedor-artefacto{
  background-image: linear-gradient(to right top, #6a79f4, #8376f6, #9a73f7, #b06ff6, #c56af4);
  color: #000000;
}
.entrada-contenedor{
  padding: 2vw 4vw;
  border-radius: 0 4rem 4rem 0;
  background-color: #8e0cd4c4;
  color: #a7a7a7;
  font-weight: bold;
  font-size: 2vw;
}

.salida-contenedor{
  color: #ffffff;
  font-weight: bold;
  font-size: 2vw;
  padding: 2vw 4vw;
  border-radius:  4rem 0   0 4rem;
  background-color: #0486dd;
}
.title-top{
  width: max-content;
  margin: 2rem auto;
}
.lol{
  min-height: 90vh;
}
.tab-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}
.tab-buttons button{
  margin: 0 1vw;
} 
.outer{
  margin-top: 2vw;
  margin-bottom: 3vw;
  display: flex;
}

.textarea{
  width: 100% !important;
}
.textarea textarea{
  width: 100%;
  height: 30vh;
  resize: none;
  background-color: #ede7f0c4;
  padding: .8vw;
  border: none;
  border-radius: .4rem;
  margin-top: 1vw;
}
 .salida textarea{
    font-size: 0.8vw;
  }
.mermaid{
  margin-top: 4vw;
  padding-bottom: 6vw;
}
.text-extendido textarea{
  height: 50vh;
}
.parametros-textos{
  display: block;
}
.text-extendido-textos{
  width: 100% !important;
}
.salida-extendido-textos textarea{
  height: 10vh;
}
.modalConfig{
  background-color: rgba(238, 238, 238, 0.5);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.artefacto-contenedor{
  box-shadow: 0px 0px 24px #e7dbeed1;
  background-color: #e2d5e9c4;
  border-radius: 1rem;
  padding-top: 1.4vw;
  grid-area: izquierda;
}
.modal-contenedor-config{
  width: 60%;
  min-height: 80vh;
  border-radius: .4rem;
  background: #bdafc4;
}
.tab-buttons{
  display: flex;
  justify-content: end;
}
.medio{
  display: flex;
  align-items: center;
  padding: 0 2vw;
}
.medio-btn{
  width: 30vw;
  align-items: center;
}
.btn-aprobar{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-left{
  padding: 4rem 4rem;
  margin-right: 8rem;
  margin-top: 4rem;
  border-radius: 0 2rem 2rem 0;
  background: #e2d5e9c4;
}
.salida-contenedor-lol{
  padding: 4rem 4rem;
  margin-left: 8rem;
  border-radius: 2rem 0  0 2rem ;
  background: linear-gradient(135deg, #9f08f0d1,#a602ffd1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
}
.derecha-lol{
  grid-area: derecha;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > div{
background-color: #dea2ff58;
border-radius: 1rem;
padding: 0 2rem;
  }
}


.btn-lol{
  display: block;
  margin: 0 auto;
  margin: 2rem 0;
}
.derecha-botones{
  display: grid;
  grid-template-columns: 10fr 3fr;
  grid-template-areas: "izquierda derecha";
  padding: 0 4rem;
  padding-bottom: 4rem;
}

.user-lol{
  color: white;
}

